@font-face {
    font-family: Radnika;
    src: url(./fonts/Radnika-Black.otf) format("opentype");
    src: url(./fonts/Radnika-Black.woff) format("woff");
    font-weight: 900;
}
@font-face {
    font-family: Radnika;
    src: url(./fonts/Radnika-BlackItalic.otf) format("opentype");
    src: url(./fonts/Radnika-BlackItalic.woff) format("woff");
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: Radnika;
    src: url(./fonts/Radnika-Bold.otf) format("opentype");
    src: url(./fonts/Radnika-Bold.woff) format("woff");
    font-style: italic;
    font-weight: 500;
} 

@font-face {
    font-family: Radnika;
    src: url(./fonts/Radnika-Regular.otf) format("opentype");
    src: url(./fonts/Radnika-Regular.woff) format("woff");
    font-weight: 400;
}