
body {
  margin: 0;
  font-family: var(--sans-serif);
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.border-bottom {
    border-bottom: 10px solid var(--color-black);
}



.is-absolute {
  position: absolute;
}

.is-top {
  top: 0px;
}

.is-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.is-grid {
  display: grid;
}

.is-center {
  place-self: center;
}


.has-shadow{
  color: var(--color-marvel);
  --shadow-color: var(--color-black);
  text-shadow: 
          0px 0px 0 var(--shadow-color), 
          1px 1px 0 var(--shadow-color), 
          2px 2px 0 var(--shadow-color), 
          3px 3px 0 var(--shadow-color), 
          4px 4px 0 var(--shadow-color), 
          5px 5px 0 var(--shadow-color), 
          6px 6px 0 var(--shadow-color), 
          7px 7px 0 var(--shadow-color), 
          8px 8px 0 var(--shadow-color), 
          9px 9px 0 var(--shadow-color), 
          10px 10px 0 var(--shadow-color), 
          11px 11px 0 var(--shadow-color), 
          12px 12px 0 var(--shadow-color), 
          13px 13px 0 var(--shadow-color), 
          14px 14px 0 var(--shadow-color);
}

.has-shadow-white{
  color: var(--color-marvel);
  --shadow-color: var(--color-white);
  text-shadow: 
          0px 0px 0 var(--shadow-color), 
          1px 1px 0 var(--shadow-color), 
          2px 2px 0 var(--shadow-color), 
          3px 3px 0 var(--shadow-color), 
          4px 4px 0 var(--shadow-color), 
          5px 5px 0 var(--shadow-color), 
          6px 6px 0 var(--shadow-color), 
          7px 7px 0 var(--shadow-color), 
          8px 8px 0 var(--shadow-color), 
          9px 9px 0 var(--shadow-color), 
          10px 10px 0 var(--shadow-color);
          
}