@import url(./radnika/index.css);

/* TYPOGRAPHY */

h1 {
  font-size:calc(var(--font-size-base) * var(--x6));
  margin: 0;
}

h2 {
  font-size:calc(var(--font-size-base) * var(--x5));
  margin: 0;

}

h3 {
  font-size:calc(var(--font-size-base) * var(--x4));
  margin: 0;

}

h4 {
  font-size:calc(var(--font-size-base) * var(--x3));
  margin: 0;

}


p {
  font-size:calc(var(--font-size-base));
  line-height: 1.2;
  margin: 0;
}

.x1{
  font-size:calc(var(--font-size-base) * var(--x1));
}

.x2{
  font-size:calc(var(--font-size-base) * var(--x2));
}
.x3{
  font-size:calc(var(--font-size-base) * var(--x3));
}
.x4{
  font-size:calc(var(--font-size-base) * var(--x4));
}
.x5{
  font-size:calc(var(--font-size-base) * var(--x5));
}
.x6{
  font-size:calc(var(--font-size-base) * var(--x6));
}
.x9 {
  font-size:calc(var(--font-size-base) * var(--x9));

}
.x10{
  font-size:calc(var(--font-size-base) * var(--x10));
}

/* line height */
.has-line-height-1 {
  line-height: 100%;
}



.font-sans {
  font-family: var(--sans-serif);
}
.font-serif {
  font-family: var(--serif);
}

.font-light {
    font-weight: 200;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 500;
}

.font-black {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}