:root {
    /*type*/
    --sans-serif: Radnika, Helvetica, Arial, sans-serif;
    --font-size-base: 1rem;
    --font-size-multiplier: 1.33;
    /* Type - Children variable*/ 
    --x1:var(--font-size-multiplier);
    --x2:calc(var(--x1)*var(--x1));
    --x3:calc(var(--x2)*var(--x1));
    --x4:calc(var(--x3)*var(--x1));
    --x5:calc(var(--x4)*var(--x1));
    --x6:calc(var(--x5)*var(--x1));
    --x7:calc(var(--x6)*var(--x1));
    --x8:calc(var(--x7)*var(--x1));
    --x9:calc(var(--x8)*var(--x1));
    --x10:calc(var(--x9)*var(--x1));


    /* color */ 
    --color-black:  #333333;
    --color-white:  #F2F2F2;
    --color-marvel: #ED1D24;
    --color-dc:     #147CC2; 
    /* color - children variables*/
    --grid-color: var(--color-black);
    --menu-color: ;
    --sm: 33.75rem;
    --md: 45rem;
    --lg: 60rem;
}