.detail-header{
    font-size: calc(var(--font-size-base) * var(--x6));
    line-height: 1.1;
    border-color: var(--grid-color);
}

@media only screen and (min-width: 33.75rem) {
    .detail-header {
        font-size: calc(var(--font-size-base) * var(--x6));
        line-height: 1 ;

    } 
}

@media only screen and (min-width: 60rem){
    .detail-header {
        font-size: calc(var(--font-size-base) * var(--x9));
    } 
}

