@keyframes spin {
    0% {
        transform:rotate(0deg) scale(.8);
    }
    50% {
      transform:rotate(180deg) scale(1.2)
    }
    100% {
        transform:rotate(360deg) scale(.8);
    }
}

.newspaper-spin {
    place-self: center;
    height: 100vh;
    animation: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
.is-fullscreen {
    height: 100%;
}

.home-background {
    background-color: var(--color-white);
}

.exclamation {
    color: var(--color-marvel);
    font-size: 35rem;

}
.exclamation-sidekick{
    color: var(--color-black);
}
