.detail-head {
    --shadow-color: var(--color-black);
    color: var(--color-marvel);
    text-shadow: .01em .01em 0 var(--shadow-color), 
                 .02em .02em 0 var(--shadow-color), 
                 .03em .03em 0 var(--shadow-color), 
                 .04em .04em 0 var(--shadow-color), 
                 .05em .05em 0 var(--shadow-color), 
                 .06em .06em 0 var(--shadow-color), 
                 .07em .07em 0 var(--shadow-color), 
                 .08em .08em 0 var(--shadow-color), 
                 .09em .09em 0 var(--shadow-color), 
                 .10em .10em 0 var(--shadow-color);
   
}