.menu-background {
    background-color: var(--color-dc);
}


.navbar-item.is-logo {
    --shadow-color: var(--color-white);
    color: var(--color-black);
    text-shadow: 
    0px 0px 0 var(--shadow-color), 
    1px 1px 0 var(--shadow-color), 
    2px 2px 0 var(--shadow-color), 
    3px 3px 0 var(--shadow-color), 
    4px 4px 0 var(--shadow-color), 
    5px 5px 0 var(--shadow-color), 
    6px 6px 0 var(--shadow-color), 
    7px 7px 0 var(--shadow-color);

  }

a.navbar-item.is-current {
    color: var(--color-marvel);
}
  
a.navbar-item.is-current:hover, a.navbar-item.is-current:focus {
    color: var(--color-marvel);
}
  
a.navbar-item:focus , a.navbar-item:hover{
    background-color: unset; 
    color:unset;
}